 <!-- Navbar -->
  <!-- Navbar -->
  <header class="h-100">
    <mdb-navbar  SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar blue intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <strong style="font-family: sans-serif;font-weight: bold;margin-right: 50px;"><img src="../../../assets/dar.png" style="width:40px; height: 40px;"> dardarek</strong>
        </a>
      </mdb-navbar-brand>
    </mdb-navbar>


<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <img style="margin-left: 100px;" src="../../../assets/dar.png" width="100"><br><br><br><br><br><br>
                <h3 class="login-heading mb-4">Bienvenue à dardarek!</h3>
                <form>
                  <div class="form-label-group">
                    <input style="height: 50px;padding-left: 15px;padding-top: 12px;" type="email" id="inputEmail" class="form-control" placeholder="Adresse email" required autofocus>
                    <label style="padding-left: 15px;color: rgba(87, 87, 87, 0.753);padding-top:4px;"  for="inputEmail">Adresse email</label>
                  </div>
  
                  <div class="form-label-group">
                    <input style="height: 50px;padding-left: 15px;padding-top: 12px;" type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                    <label  style="padding-left: 15px;color: rgba(87, 87, 87, 0.753);padding-top:4px;" for="inputPassword">Mot de passe</label>
                  </div>
  
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Souviens-toi de moi</label>
                  </div>
                  <div class="wrap">
                    <button class="button">S'identifier</button>
                  </div>
                  <!--<button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">S'identifier</button>-->
                <br>  <div class="text-center">
                    <a class="small" href="#">mot de passe oublié?</a></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  