 <!-- Navbar -->
  <!-- Navbar -->
  <header class="h-100">
    <mdb-navbar  SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar blue intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <strong style="font-family: sans-serif;font-weight: bold;margin-right: 50px;"><img src="../../../assets/dar.png" style="width:40px; height: 40px;"> dardarek</strong>
        </a>
      </mdb-navbar-brand>
    </mdb-navbar>


    <br><br>

<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto"><br><br><br><br><br><br>
                <h3 class="login-heading mb-4">Bienvenue à dardarek!</h3>
                <form action="#">
                    <div class="row">  
                        <!-- First Name -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                              
                            </div>
                            
                            <input id="firstName" type="text" name="firstname" placeholder="Nom" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <!-- Last Name -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
                            <input id="lastName" type="text" name="lastname" placeholder="Prénom" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <!-- Email Address -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-envelope text-muted"></i>
                                </span>
                            </div>
                            <input id="email" type="email" name="email" placeholder="Address Email" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <!-- Phone Number -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-phone-square text-muted"></i>
                                </span>
                            </div>
                            <select id="countryCode" name="countryCode" style="max-width: 80px" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                                <option value="">+216</option>
                                <option value="">+330</option>
                                <option value="">+440</option>
                                
                            </select>
                            <input id="phoneNumber" type="tel" name="phone" placeholder="Numéro du téléphone" class="form-control bg-white border-md border-left-0 pl-3">
                        </div>.
    
    
                        <!-- Job -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fas fa-hand-pointer"></i>
                                </span>
                            </div>
                            <select id="job" name="jobtitle" class="form-control custom-select bg-white border-left-0 border-md">
                                <option value="">Sélectionner</option>
                                <option value="">Je veux réserver</option>
                                <option value="">Je veux héberger</option>
                            </select>
                        </div>
    
                        <!-- Password -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="password" type="password" name="password" placeholder="Mot de passe" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <!-- Password Confirmation -->
                        <div class="input-group col-lg-6 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="passwordConfirmation" type="text" name="passwordConfirmation" placeholder="Confirmer mot de passe" class="form-control bg-white border-left-0 border-md">
                        </div>
    
                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <a style="color: white;background-color: darkblue;" href="#" class="btn btn btn-block py-2">
                                <span style="text-transform:none" class="font-weight-bold">Créer un Compte</span>
                            </a>
                        </div>
    
                        <!-- Divider Text -->
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted">OU</span>
                            <div class="border-bottom w-100 mr-5"></div>
                        </div>
    
                        <!-- Social Login -->
                        <div class="form-group col-lg-12 mx-auto">
                            <a style="color: white;background-color: rgb(50, 95, 179)" href="#" class="btn btn btn-block py-2 btn-facebook">
                                <i class="fab fa-facebook-f mr-4"></i>
                                <span style="text-transform:none" class="font-weight-bold">Se connecter avec Facebook</span>
                            </a>
                            <a href="#"  class="btn btn-danger btn-block py-2 btn-twitter">
                                <i class="fab fa-google mr-4"></i>
                                <span style="text-transform:none" class="font-weight-bold">Se connecter avec Google</span>
                            </a>
                        </div>
    
                        <!-- Already Registered -->
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">Avez-vous déjà un compte? <a href="#" class="text-primary ml-2">S'identifier</a></p>
                        </div>
    
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  









